<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.252148702958-978824m7soonuf2l19qo6dvspdhcvpcc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Spotify OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>athena</string>
			</array>
		</dict>
	</array>
	<key>NSAppleEventsUsageDescription</key>
	<string>Athena needs to control Messages to send messages automatically on your behalf.</string>
	<key>NSContactsUsageDescription</key>
	<string>Athena needs access to your contacts to send messages to people by name.</string>
</dict>
</plist>
